/* .workItem {
  margin-top: 18px;
} */

/* .workItem:first-child {
  margin-top: 0;
} */

.itemTitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #666;
}

.itemDetails {
  font-size: 14px;
  color: #747474;
}

.projectDetails p{
  margin: 0;
  text-indent: 2em;
}